<%- include("head", { pageName: typeof pageName !== 'undefined' ? pageName : book.title }) -%>
<article class="wholeBook">
  <p class="author-info"><strong>Author:</strong> <%= book.author %></p>
  <h2><%= book.title %></h2>
  
  <div class="book-details-content">
    <strong>Details:</strong>
    <p><%- book.details.replace(/\n/g, '<br>') %></p> 
  </div>

  <% if (book.categories && book.categories.length > 0) { %>
  <div class="book-categories-section">
    <strong>Categories:</strong>
    <ul class="category-tags">
      <% for (const category of book.categories) { %>
        <li><a href="/books/category/<%= category.id %>"><%= category.name %></a></li>
      <% } %>
    </ul>
  </div>
  <% } else { %>
  <p><em>This book has not been assigned to any categories yet.</em></p>
  <% } %>

  <% if (user) { %>
  <div class="book-actions">
    <a href="/editbook/<%= book.id %>"><button type="button" class="edit-button">Edit</button></a>
    <a href="/deletebook/<%= book.id %>" onclick="return confirm('Are you sure you want to delete this book?');"><button type="button" class="delete-button">Delete</button></a>
  </div>
  <% } %>
</article>
<%- include("foot") -%>