<%- include("head", { pageName: typeof pageName !== 'undefined' ? pageName : "Add New Book" }) -%>
<h2>Add New Book</h2>
<% if (typeof msg != "undefined" && msg) { %>
<p id="msg" class="msg error-msg"><%= msg %></p>
<% } %>
<form method="post">
  <label>
    Author
    <input name="author" value="<%= typeof author !== 'undefined' ? author : '' %>" required>
  </label>
  <label>
    Title
    <input name="title" value="<%= typeof title !== 'undefined' ? title : '' %>" required>
  </label>
  <label>
    Details
    <textarea name="details" cols="50" rows="10" required><%= typeof details !== 'undefined' ? details : '' %></textarea>
  </label>
  <fieldset class="categories-fieldset">
    <legend>Categories</legend>
    <% if (locals.allCategories && allCategories.length > 0) { %>
      <% for (const category of allCategories) { %>
        <label class="checkbox-label">
          <input type="checkbox" name="categoryIds" value="<%= category.id %>"
            <%= locals.bookCategories && bookCategories.includes(category.id) ? 'checked' : '' %>>
          <%= category.name %>
        </label>
      <% } %>
    <% } else { %>
      <p>No categories available. You can <a href="/newcategory">add categories</a> first.</p>
    <% } %>
  </fieldset>
  <button type="submit">Save Book</button>
</form>
<%- include("foot") -%>